{% extends "base.html" %}
<!-- {% import 'bootstrap/wtf.html' as wtf %}
 -->
{% block app_content %}
	<h1>Add Alarm</h1>
	<form action="" method="post" class="form form-horizontal">
		{{ form.hidden_tag() }}
		<!-- {{ wtf.quick_form(form) }} -->
		<p>
			Time: 
			{{ form.hours(size=2) }}
			{{ form.minutes(size=2) }}<br>
		</p>
		<p>{{ form.label.label }} {{ form.label(size=64) }}</p>
		<p> {{ form.repeat.label }} {{ form.repeat}}</p>
		<div class="day-checkbox">
			{{ form.monday }}
			{{ form.monday.label }}
		</div>
		<div class="day-checkbox">
			{{ form.tuesday }}
			{{ form.tuesday.label }}
		</div>
		<div class="day-checkbox">
			{{ form.wednesday }}
			{{ form.wednesday.label }}
		</div>
		<div class="day-checkbox">
			{{ form.thursday }}
			{{ form.thursday.label }}
		</div>
		<div class="day-checkbox">
			{{ form.friday }}
			{{ form.friday.label }}
		</div>
		<div class="day-checkbox">
			{{ form.saturday }}
			{{ form.saturday.label }}
		</div>
		<div class="day-checkbox">
			{{ form.sunday }}
			{{ form.sunday.label }}
		</div>
		
		<p>{{ form.submit() }}</p>
	</form>
{% endblock %}